body {background-color: #f5fffa;}
p {color: #000000;}
a:visited {color: #ffffff;}
h1 {color: #006400;}
nav {background-color: #006400;}
link:hover {color:#f5fffa}
nav a:hover {color: #008b8b}
nav {background-color: #006400;
    border: 5px solid hsl(0, 0%, 0%);
    padding: 10px
    margin-bottom: 30px}